version: '3'
services:
#  app1:
#    container_name: app1
#    build:
#      context: ./app1
#      dockerfile: Dockerfile
#    command: 'python manage.py runserver'
#    volumes:
#      - app:/app
#    restart: always

  app1-consumer:
    container_name: app1-consumer
    build:
      context: ./app1
      dockerfile: Dockerfile
    command: 'python consumer.py'
    volumes:
      - app:/app
    depends_on:
      - kafka
    restart: always

  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    expose:
      - '9092'
    environment:
      KAFKA_ADVERTISED_HOST_NAME: 127.0.0.1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    depends_on:
      - zookeeper
    restart: always

  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    expose:
      - '2181'

volumes:
  app:
